<h1>Create Promo Code</h1>

<%= form_for(@promo_code) do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :link %>
		<%= f.text_field :link %>
	</p>

		<p>
		<%= f.label :code %>
		<%= f.text_field :code %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :starts %>
		<%= f.date_select :starts %>
	</p>

	<p>
		<%= f.label :expiration_date %>
		<%= f.date_select :expiration_date %>
	</p>

	<p>
		<%= f.label :approved %>
		<%= f.radio_button(:approved, checked: true) %>
	</p>

	<p>
		<%= f.label :user_submit %>
		<%= f.radio_button(:user_submit, "user submit", checked: false) %>
	</p>

		<p>
		<%= f.label :homepage %>
		<%= f.radio_button(:homepage, "homepage", checked: false) %>
	</p>

		<p>
		<%= f.label :free_shipping %>
		<%= f.radio_button(:free_shipping, "free shipping", checked: false) %>
	</p>

	<p>
		<%= f.label :category %>
		<ul>
		<% @categories.each do |category| %>
     <li> <%= check_box_tag "promo_code[category_ids][]", category.id, f.object.categories.include?(category) %>
      <%= category.name %></li>
    <% end %>
    </ul>
	</p>
	
		<% if @store %>
			<p>
				<%= f.label :store %>
				<%= f.collection_select(:store_id, @stores, :id, :name, selected: @store.id) %>
			</p>
		<% else %>
			<p>
				<%= f.label :store %>
				<%= f.collection_select(:store_id, Store.all, :id, :name) %>
			</p>
		<% end %>


	<%= f.submit %>
<% end %>