<h1><%= @promo_code.title %></h1>
<p><%= @promo_code.description %></p>
<p><%= @promo_code.expires %></p>
<p><% if @promo_code.code %>
	<%= @promo_code.code %>
	 <% else %>
	<p>No Code Needed</p>
	 <% end %>
 </p>

 <%= @link %>