<h1>Edit Store</h1>

<%= form_for(@store) do |f| %>
	<p>
		<%= f.label :id %>
		<%= f.text_field :id %>
	</p>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
			<p>
		<p>Network</p>
		<%= f.text_field :network %>
	</p>
		<p>
		<p>Network ID</p>
		<%= f.text_field :network_id %>
	</p>
	<p>
		<%= f.label :url %>
		<%= f.text_field :url %>
	</p>
		<p>
		<%= f.label :domain %>
		<%= f.text_field :domain %>
	</p>

	<p style="width:500px">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

		<p>
		<%= f.label :slug %>
		<%= f.text_field :slug %>
	</p>
			<p>
		<%= f.label :search_terms %>
		<%= f.text_field :search_terms %>
	</p>
				<p>
		<%= f.label :meta_keywords %>
		<%= f.text_field :meta_keywords %>
	</p>
				<p>
		<%= f.label :meta_title %>
		<%= f.text_field :meta_title %>
	</p>
				<p>
		<%= f.label :meta_description %>
		<%= f.text_field :meta_description %>
	</p>

	<p>
		<%= f.label :active %>
		<%= f.check_box(:active, checked: @store.active) %>
	</p>

	<p>
		<%= f.label :user_submit %>
		<%= f.check_box(:user_submit, checked: @store.user_submit) %>
	</p>

	<p>
		<%= f.label :category %>
		<%= f.collection_select(:category_id, Category.all, :id, :name) %>
	</p>

		<p>
		<%= f.label :top_store %>
		<%= f.check_box(:top_store, checked: @store.top_store) %>
	</p>
	<p>
		<%= f.label :viglink_id %>
		<%= f.text_field :viglink_id %>
	</p>
	<p>
		<%= f.label :viglink_name %>
		<%= f.text_field :viglink_name %>
	</p>
	<p>
		<%= f.label :viglink_group_id %>
		<%= f.text_field :viglink_group_id %>
	</p>


	<%= f.submit %>
<% end %>