<div class="row main-content">
	<div class="twelve columns coupon-list">
<h1>Edit Store</h1>

	<%= form_for(@store) do |f| %>
<table style="width:100%;">

	<tr>
		<td>
		<%= f.label :active %>
		<%= f.check_box(:active, checked: @store.active) %>
		</td>
		<td>
			<%= f.label :id %>
			<%= f.text_field :id %>
		</td>
		<td>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</td>
		<td>
						<%= f.label :url %>
			<%= f.text_field :url %>

		</td>
	</tr>
		<tr>
		<td>
			<%= f.label "Network ID" %>
			<%= f.text_field :network_id %>
		</td>
		<td>
			<%= f.label :network %>
			<%= f.text_field :network %>
		</td>
		<td>
			<%= f.label :domain %>
			<%= f.text_field :domain %>
		</td>
				<td>
			<%= f.label :slug %>
			<%= f.text_field :slug %>
		</td>
	</tr>
		<tr>
		<td colspan="3">
			<%= f.label :description %>
			<%= f.text_area :description, size: "80x30" %>
		</td>
		<td>
			<%= f.label :logo %>
			<%= f.file_field :logo, multiple: false %>
		</td>

	</tr>
	</tr>
		<tr>
		<td>
		<%= f.label :search_terms %>
		<%= f.text_field :search_terms %>
		</td>
		<td>
		<%= f.label :meta_keywords %>
		<%= f.text_field :meta_keywords %>
		</td>
		<td>
		<%= f.label :meta_title %>
		<%= f.text_field :meta_title %>
		</td>
		<td>
		<%= f.label :meta_description %>
		<%= f.text_field :meta_description %>
		</td>
	</tr>
	<tr>
		<td>
		<%= f.label :category %>
		<%= f.collection_select(:category_id, @categories, :id, :name) %>
		</td>
		<td>
		<%= f.label :user_submit %>
		<%= f.check_box(:user_submit, checked: @store.user_submit) %>
		</td>
		<td>
		<%= f.label :paths %>
		<%= f.text_field :paths %>
		</td>
				<td>
		<%= f.label :top_store %>
		<%= f.check_box(:top_store, checked: @store.top_store) %>
		</td>
	</tr>	
	<tr>
	</tr>
	<tr>
	<td>
		<%= f.label :viglink_id %>
		<%= f.text_field :viglink_id %>
	</td>
	<td>
		<%= f.label :viglink_name %>
		<%= f.text_field :viglink_name %>
	</td>
	<td>
		<%= f.label :viglink_group_id %>
		<%= f.text_field :viglink_group_id %>
	</td>
</tr>
<tr>
	<td>
		
	</td>
</tr>
	
	
	</table>
	<%= f.submit %>
	<% end %>
</div>
</div>
