<% canonical(store_path(@store)) %>
<div class="row main-content">
	<div class="eight columns coupon-list">
		<div class="store-info">
			<% if is_admin? %>
				<p><%= link_to "Edit Store", edit_store_path(@store) %></p>
			<% end %>
			<h1><%= @store.name %> Promo Codes & Discounts</h1>
			<h2><%= @store.name %> Promotion Codes and <%= @store.name %> Coupons for <%= Date.today.strftime('%a, %d %b %Y') %></h2>
			<p class="store-description"><%= @store.description %></p>
		</div>
	
<div class="red-banner">
	<h2>Current Codes</h2>
</div>
		<% @promo_codes.each do |promo_code| %>
		<%= render partial: 'shared/single_coupon', locals: {promo_code: promo_code} %>
		<% end %>
	</div>
		<div class="four columns right-side-bar">
		<%= render partial: 'shared/top_stores', locals: {
			top_stores: @top_stores 
		} %>	
		<%= render partial: 'shared/email_signup' %>
		<%= render partial: 'shared/categories', locals: {
			categories: @categories 
		} %>
	
	</div>
</div>