
<% title(@store.meta_title) if @store.meta_title %>
<% title("#{@store.name} promo codes, coupons and discounts. #{@promo_codes.count} available") if @store.meta_title == '' %>
<% canonical(store_path(@store)) %>
<% meta_tag('keywords', @store.meta_keywords) if @store.meta_keywords %>
<% meta_tag('keywords', "#{@store.name}, promo codes, coupon codes,discounts, promotion codes, savings codes, #{@store.domain}") if @store.meta_keywords == '' %>
<% meta_tag('description', @store.meta_description) if @store.meta_description  %>
<% meta_tag('description', "#{@store.name} promo codes and coupons for discounts at #{@store.domain}") if @store.meta_description == "" %>
<% meta_tag('description', "Use #{@promo_codes.count} #{@store.name} promo codes & coupons to save money at #{@store.domain}.") unless @store.meta_description %>
<div class="row main-content">
	<div class="eight columns coupon-list">

		<div class="store-info" itemscope itemtype="http://schema.org/Store">
			<p>
				<% if is_admin? %>
				<%= link_to "Edit Store", edit_store_path(@store) %> | <%= link_to "Add new code", new_promo_code_path(store: @store.id) %> 
				<% end %>
				<%= render_breadcrumbs %>
			</p>
			<h1><span itemprop="name"><%= @store.name %></span> Promo Codes & Discounts</h1>
			<h2>There are currently <%= @promo_codes.count %> <%= @store.name %> Promotion Codes and <%= @store.name %> Coupons.</h2>
			<p class="store-description" itemprop='description'><%= @store.description %>
			Store located at: <span itemprop="url"><%= link_to( @store.url,@store.url, :rel => 'nofollow',:target => "_blank") %></span>  
</p>
		</div>
	
		<div class="red-banner">
			<h2>Current Codes</h2>
		</div>
		<% if @promo_codes %>
			<% @promo_codes.each do |promo_code| %>
			<%= render partial: 'shared/single_coupon_stores', locals: {promo_code: promo_code} %>
			<% end %>
		<% else %>
		
		<% end %>
		
		<% if @store.user_submit %>
			<div class="store-info">
				<p>
Do you have a promotion code for <%= @store.name %>?
Add your <%= @store.name %> promo code here for others' benefit.</p>
				<%= render partial: 'shared/user_submit', locals: {promo_code: @promo_code, store: @store} %>
				<p class='success'></p>
				<p class='error'></p>
				<p id="disclaimer">To signup for <%= @store.name %> coupon codes, please enter your email address in the Newsletter box on the right side of the page. 

The <%= @store.name %> promotional codes listed above are available because GoPromoCodes.com is an affiliate of <%= @store.name %>. Tyler Stauss manages this partnership. Meet <%= link_to "Tyler", "https://plus.google.com/u/0/114616733302009885635?rel=author" %>!
Since this site allows users to submit content, we cannot guarantee the accuracy of the content.</p>
			</div>
		<% end %>
		
		<div class="red-banner">
			<h2>Learn more about how to save the most at <%= @store.name %> </h2>
		</div>
		
		<div class="store-blogs store-info">
			<div>
				<table class="merchant-stats"> 
					<tbody> 
						<thead>
							<th><%= @store.name %> Offer Data</th>
						</thead>
						<tr> 
							<td>Total Valid Offers: <span class="merchant-offer-data"><%= @promo_codes.count if @promo_codes %></span></td> 
						</tr> 

						<tr> 
							<td>Free Shipping Offers: <span class="merchant-offer-data">
								<%= @freeshipping.count if @promo_codes %></span></td>
						<tr> 
							<td>Last Offer Added: <span class="merchant-offer-data"><%= @store.promo_codes.last.created_at if @store.promo_codes %></span>
							</td> 
						</tr> 	 
						<tr> 
							<td>Expired Deals: <span class="merchant-offer-data"><%= @expired.count if @expired %></span>
							</td> 
						</tr> 
						</tr> 
					</tbody>
				</table>
			</div>
			<% if is_admin? %>
				<p><%= link_to "Add new blog", new_store_blog_path(store: @store.id) %></p>
			<% end %>
			<% @blogs.each do |blog| %>
			<% if is_admin? %>
				<p><%= link_to "Edit Blog", edit_store_blog_path(blog) %> | <%= link_to "Delete Blog", store_blog_path(blog), :method => :delete %></p>
			<% end %>
			<span><%= blog.publish_date %></span>
			<%= raw(blog.post) %>
			<br><br>
			<% end %>
		</div>
	</div>
	<div class="four columns right-side-bar">
		<% if @amp %>
			<%= render partial: 'shared/ampsidebar', locals: {is_amp: @amp} %>
		<% else %>
		<%= render partial: 'shared/ampsidebar', locals: { is_amp: false} %>
		<% end %>
	</div>
</div>
