<h1>Edit User</h1>

<%= form_for(@user) do |f| %>
	<p>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<%= f.submit %>
<% end %>