<div class="row main-content">
	<div class="eight columns">
		<div class="red-banner"> 
			<h1>Users</h1>
		</div>
		<table>
			<thead>
				<tr>
					<th>User ID</th>
					<th>Username</th>
					<th>Email</th>
					<th>Admin?</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.id %></td>
						<td><%= user.username %></td>
						<td><%= user.email %></td>
						<td><%= user.admin %></td>
						<td><%= link_to("Edit", edit_user_path(user)) %></td>

					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>