<div class="row main-content">
	<div class="eight columns coupon-list">
		<h1>Create a new GoPromoCodes.com.</h1>
		<p>If you already have an account <%= link_to "Login Here", signin_path %></p>
		<%= google_sign_in_button 'Sign in with my Google account', proceed_to: create_login_url %>

		<p>Or sign in with your non Google account below.</p>
			  <%= form_for @user do |f| %> 
		      <table>
		        <tr>
		          <td><%= f.label :email %></td>
		          <td><%= f.text_field :email, :required => true %></td>
		        </tr>
		        <tr>
		          <td><%= f.label :username %></td>
		          <td><%= f.text_field :username, :required => true%></td>
		        </tr>
		        <tr>
		          <td><%= f.label :password %></td>
		          <td><%= f.password_field :password, :required => true %></td>
		        </tr>
		        <tr>
		          <td><%= recaptcha_tags %></td>
		          <td> <%= f.submit "Register" %></td>
		        </tr>
		      </table>
	      <% end %>
	    </div>

  	<div class="four columns right-side-bar">
		<%= render partial: 'shared/user_login' %>
		<%= render partial: 'shared/top_stores', locals: {
			top_stores: @top_stores 
		} %>	
		<%= render partial: 'shared/email_signup' %>
		<%= render partial: 'shared/categories', locals: {
			categories: @categories 
		} %>
	
	</div>
</div>