<% if is_amp %>
		<%= render partial: 'shared/top_stores', locals: {
			top_stores: @top_stores 
		} %>	
		<div>
		</div>
		<%= render partial: 'shared/categories', locals: {
			categories: @categories 
		} %>
<% else %>	
		<%= render partial: 'shared/chrome_extension'  %>
		<%= render partial: 'shared/top_stores', locals: {
			top_stores: @top_stores 
		} %>	
		<div>
		</div>
		<%= render partial: 'shared/email_signup' %>
		<%= render partial: 'shared/categories', locals: {
			categories: @categories 
		} %>	
<% end %>