<div class="clearfix"></div>
<footer id="mainfooter" >
	<div class="row bottom-footer">
		<div class="six columns">
			<h4>About Us</h4>
			<p>GoPromoCodes.com is a simple, easy to use online shopping website that offers thousands of promotional codes and deals on over 3,500 unique stores, including big name stores such as Target, AT&T, Macy's, and Travelocity. </p>

			<p>If you are a retailer with a promotional code or deal you would like to list on GoPromoCodes, contact us now or submit a deal!</p>
			<ul>
				<li><%= link_to 'About', about_path %></li>
				<li><%= link_to 'Contact', contact_path %></li>
				<li><%= link_to 'Terms & Privacy', terms_path %></li>
				<li><%= link_to 'Articles', articles_path %></li>
			</ul>
		</div>
		<div class="six columns">
			<h4>About Online Promo Codes</h4>
			<p>According to Compete.com, more than 57% of consumers who used a coupon code during their last online purchase would not have completed the order without the discount. Ninety One percent of coupon redeemers will shop at a retailer again after being offered a coupon. Users of promo codes spent over 75% more on their last online order compared to those who didn't use an online promotion code.</p>

		</div>
	</div>

		<div class="row very-bottom-footer">
			<div class="six columns">
				 <p class="uppercase">Copyright © <%= Time.now.year %> GoPromoCodes.com</p>
			</div>
	  	<div class="two columns">
	      	<span id="facebook"><%= link_to image_tag("facebook-4-16.png"), "https://www.facebook.com/gopromocodes", :target => "_blank" %></span>
	      	<span id="twitter"><%= link_to image_tag("twitter-4-16.png"), "https://twitter.com/gopromocodes", :target => "_blank" %></span>
	      	
			</div>
			<div class="two columns">

			</div>
			<div class="two columns">
			</div>
		</div>
</footer>