<div class="single-coupon">
	<% if is_admin? %>
	<p><%= link_to 'Edit Coupon', edit_promo_code_path(promo_code) %></p>
	<% end %>
	<p class="coupon-title"><span class="coupon-store-name"><%= promo_code.store.name %>: </span><%= link_to promo_code.title, promo_code_path(promo_code) %></p>
	<p class="coupon-description">
		<% unless promo_code.description == 'NULL' %>
			<%= promo_code.description %>
		<% else %>
			No description provided.
		<% end %>
	</p>

	<p class="see-more-codes">See more <%= link_to promo_code.store.name + " promo codes", store_path(promo_code.store) %>
	</p>

	<p class="promo-code">
		<% if promo_code.code %>
			Use code: <%= link_to promo_code.code, promo_code_path(promo_code) %>
		<% else %>
			<p>No Code Needed</p>
		<% end %>
	</p>
	<p class="coupon-expiration">Expires: 
		<% if promo_code.expires %>
			<%= promo_code.expires %>
		<% else %>
			on-going
		<% end %>
	</p>
	
</div>