<div class="single-coupon">
	<% if is_admin? %>
		<p><%= link_to 'Edit', edit_promo_code_path(promo_code) %> | <%= link_to 'Delete', promo_code_path(promo_code),
            data: {:confirm => 'Are you sure?'}, :method => :delete %> | <%= promo_code.link %> Order: <%= promo_code.order_id %></p>
	<% end %>
	<p class="coupon-title"><span class="coupon-store-name"><%= promo_code.store.name %>: </span><%= link_to promo_code.title, promo_code_path(promo_code), target: :_blank, rel: 'nofollow', onclick: "window.__cfRLUnblockHandlers = true; ga('send', 'event', 'Coupon', 'Click', '#{promo_code.store.name} #{promo_code.id}');" %></p>
	<p class="coupon-description">
		<% unless promo_code.description == 'NULL' %>
			<%= promo_code.description %>
		<% else %>
			No description provided.
		<% end %>
	</p>

	<p class="promo-code">
		<% if promo_code.code == "NULL" || promo_code.code == '' || promo_code.code  == nil || promo_code.code == 'n/a' %>
			<p>No Code Needed</p>
		<% else %>
			Use code: <%= link_to promo_code.code, promo_code_path(promo_code), target: :_blank, rel: 'nofollow' %>
		<% end %>
	</p>
<p class="coupon-expiration">Expires: 
		<% if promo_code.expires.to_s == '2099-12-31' || promo_code.expires == nil || promo_code.expires.to_s == nil %>
			on-going
		<% else %>
			<%= promo_code.expires %>
		<% end %>
	</p>
	
</div>