<div class="top-stores">
	<h2>Top Stores</h2>
	<table>
		<tbody>
			<tr>
				<td><%= link_to top_stores[0].name, store_path(top_stores[0]) %></td>
				<td><%= link_to top_stores[1].name, store_path(top_stores[1]) %></td>
			</tr>
			<tr>
				<td><%= link_to top_stores[2].name, store_path(top_stores[2]) %></td>
				<td><%= link_to top_stores[3].name, store_path(top_stores[3]) %></td>
			</tr>
			<tr>
				<td><%= link_to top_stores[4].name, store_path(top_stores[4]) %></td>
				<td><%= link_to top_stores[5].name, store_path(top_stores[5]) %></td>
			</tr>
			<tr>
				<td><%= link_to top_stores[6].name, store_path(top_stores[6]) %></td>
				<td><%= link_to top_stores[7].name, store_path(top_stores[7]) %></td>
			</tr>
			<tr>
				<td><%= link_to top_stores[8].name, store_path(top_stores[8]) %></td>
				<td><%= link_to top_stores[9].name, store_path(top_stores[9]) %></td>
			</tr>
			<tr>
				<td><%= link_to top_stores[10].name, store_path(top_stores[10]) %></td>
				<td><%= link_to top_stores[11].name, store_path(top_stores[11]) %></td>
			</tr>
		</tbody>
	</table>
</div>