<div class="row main-content">
	<div class="eight columns coupon-list">
		<div class="red-banner">
			<h1>Informative Articles</h1>
		</div>
		 <ul class="article-list">
      <li><%= link_to "New Year's Traditions Around the World", newyears_path %></li>
      <li><%= link_to "A Guide to Buying Fair Trade", fairtrade_path %></li>
      <li><%= link_to "Gardening Tips and Resources", gardening_path %></li>
      <li><%= link_to "Online Learning Games", games_path %></li>
      <li><%= link_to "Free Clip Art Resources", clipart_path %></li>
			<li> <%= link_to "Advancements in Home Entertainment Healthier Lives", entertainment_path %></li>
			<li> <%= link_to 'How Cell Phones Are Changing Our Lives', cellphones_path %></li>
			<li> <%= link_to 'Three Online Money Saving Strategies', moneysaving_path %></li>
			<li> <%= link_to 'Photography Resources', photography_path %> </li>
			<li> <%= link_to 'Keyboarding Resources for Your Computer', keyboarding_path %> </li>
			<li> <%= link_to 'Classic Books on SAT Reading List', classics_path %> 
				</li>
    </ul>
	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>