<div class="row main-content">
	<% if params['cpc'] && params['cpc'].to_i >= 1 %>
		<script type="text/javascript">
		console.log('<%= @viglink_redirect %>'+ '&type=CD' + '&cuid=' + '<%= @cuid %>' + '&u=' + '<%= @redirect_url %>');
		var url = '<%= @viglink_redirect %>'+ '&type=CD' + '&cuid=' + '<%= @cuid %>' + '&u=' + '<%= @redirect_url %>';
		window.location.href = url
		
		</script>
	<% end %>
	<div class="eight columns coupon-list">
		<div class="red-banner">
			<h1>Today's Best Deals</h1>
		</div>
		<p>Check out today's best deals from our favorite partners!</p>
		<% if @all_offers %>
			<% @all_offers.each do |offer| %>
				<%= offer['title'] %> - only <%= link_to(number_to_currency(offer['price']), "http://redirect.viglink.com?key=b4519aa721815a266d11aa648fe4e825&type=CD&u=#{CGI::escape(offer['url'])}") %>
				<%=  offer['cpc'] if is_admin? %><br>
				<%= link_to(image_tag(offer['image']), "http://redirect.viglink.com?key=b4519aa721815a266d11aa648fe4e825&type=CD&u=#{CGI::escape(offer['url'])}") %><br>
			<% end %>
		<% end %>
	</div>
	<div class="four columns right-side-bar">
	</div>
</div>