<% title("Free Online Promo Codes & Coupons") %>
<% meta_tag('keywords', "deals, coupons, discounts, Promotional Codes, Promo Codes, Coupon Codes, Online Coupons, Online Deals") %>
<% meta_tag('description', "Free promo codes, coupons and discount codes for savings at over 3000 online stores like Target, Sears, 1800Flowers, Amazon & more!") %>
<% canonical(root_path) %>

<div class="row main-content">
	<div class="eight columns coupon-list">
		<div class="red-banner">
			<h2>GoPromoCodes Discounts by The Numbers</h2>
		</div>
		<div class="site-info">
			<table class="merchant-stats"> 
					<tbody> 
						<tr> 
							<td>Total Stores: <span class="merchant-offer-data"><%= number_with_delimiter(@total_stores, :delimiter => ',') if @total_stores %></span>
							</td> 
							<td>Total Valid Offers: <span class="merchant-offer-data"><%= number_with_delimiter(@total_discounts, :delimiter => ',') if @total_discounts %></span>
							</td> 
						</tr> 
						<tr> 
							
						</tr> 
						<tr> 
							<td>Total Promo Codes: <span class="merchant-offer-data"><%= number_with_delimiter(@total_codes, :delimiter => ',') if @total_codes %></span>
							</td> 
							<td>Free Shipping Offers: <span class="merchant-offer-data">
								<%= number_with_delimiter(@total_free_shipping, :delimiter => ',') if @total_free_shipping %></span>
							</td>
						</tr> 
					</tbody>
				</table>
		</div>
		<div class="red-banner">
			<h1>Popular Promo Codes and Coupon Codes</h1>
		</div>
		<% @promo_codes.each do |promo_code| %>
			<%= render partial: 'shared/single_coupon', locals: {promo_code: promo_code} %>
		<% end %>
	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>