<div class="row main-content">
	<div class="eight columns coupon-list">
		<h1>Search Results for: <%= @search_term %></h1>
		<br>
		<div>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- search results -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5525308898632294"
     data-ad-slot="8887007647"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</div>
		<h2>Stores that match your search</h2>
		<ul>
		<% @stores.each do |store| %>
			<li><%= link_to store.name, store_path(store) %></li>
		<% end %>
		</ul>
		<br>
		<h2>Promo Codes that match your search</h2>
		<% @promo_codes.each do |promo_code| %>
			<%= render partial: 'shared/single_coupon', locals: {promo_code: promo_code} %>
		<% end %>
	</div>
		<div class="four columns right-side-bar">
		<%= render partial: 'shared/top_stores', locals: {
			top_stores: @top_stores 
		} %>	
		<%= render partial: 'shared/email_signup' %>
		<%= render partial: 'shared/categories', locals: {
			categories: @categories 
		} %>
	</div>

	
</div>