<% title("GoPromoCodes Blog - blurbs on savings, deals and promo codes") %>
<% meta_tag('keywords', "store, blog, coupons, discounts, Promotional Codes, Promo Codes, Coupon Codes, Online Coupons") %>
<% meta_tag('description', "Read a quick blurb on how to save at thousands of stores with GoPromoCodes") %>
<% canonical(blog_path) %>
<div class="row main-content">
	<div class="eight columns coupon-list">

		<div class="red-banner"> 
			<h1>Blogs Posts About Our Favorite Stores</h1>
		</div>
		<div class="store-info">
			<h2>Timely deals, sales and featured items from stores that we love.
			</h2>
			<p class="store-description" >
				As we come across sales and featured products from some of our favorite stores, or any other pertinent information that will help you make smarter decisions while shopping, we will add them as a blog! You can find all of them wihin the individual store pages at the bottom, below the current coupons. And then we aggregate them all here for you to enjoy and start your shopping journey.
			</p>
		</div>
		<div class="red-banner">
			<h2>Recent Posts</h2>
		</div>
		<ul class="single-coupon store_blogs">
			<% @store_blogs.each do |blog| %>
			<li><h6><%= blog.publish_date %> - <%= link_to(blog.store.name, store_path(blog.store))%> -  Written by: <%= blog.author %></h6></li>
			<li><%= blog.post.html_safe %>... <%= link_to("Read More", store_path(blog.store))  %>></li>
			<% end %>
		</ul>
		<%= will_paginate @store_blogs %>
	</div>
	<div class="four columns right-side-bar">
		<% if @amp %>
			<%= render partial: 'shared/ampsidebar', locals: {is_amp: @amp} %>
		<% else %>
		<%= render partial: 'shared/ampsidebar', locals: { is_amp: false} %>
		<% end %>
	</div>

</div>