<div class="row main-content">
	<div class="eight columns">
	<h1>Edit Store Blog</h1>
	<%= form_for(@store_blog) do |f| %>
	<p>
		<%= f.label :publish_date %>
		<%= f.text_field :publish_date %>
	</p>
	<p>
		<%= f.label :post %>
		<%= f.text_area :post %>
	</p>
	<p>
		<%= f.label :author %>
		<%= f.text_field :author %>
	</p>
	<p>
		<%= f.label :store %>
		<%= f.collection_select(:store_id, Store.order("name ASC"), :id, :name) %>
	</p>

	<%= f.submit %>
<% end %>
	</div>
	<div class="four columns right-side-bar">
	</div>
</div>