<h1>Create New Category</h1>

<%= form_for(@category) do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<%= f.submit %>
<% end %>