<!DOCTYPE html>
<html>
  <head>

    <title>
      <%= if content_for?(:title) then yield(:title) end %>
      
    </title>

    <meta name='description'
      content='<%= yield_meta_tag(:description, 'Save on online shopping with free promo codes and coupon codes from GoPromoCodes.com') %>' />
    <meta name='keywords'
      content='<%= yield_meta_tag(:keywords, 'promo codes, coupon codes, promotional codes, discounts, savings') %>' />
    <meta name="google-site-verification" content="_VuY9z2UqX9FKO48EXymM8Q8PvedNXW5LoiUxKQeVd8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= yield :canonical %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-10819268-1', 'auto');
  ga('send', 'pageview');

</script>
<%= rails_amp_amphtml_link_tag %>

  </head>

  <body>
  	<div class="container"> 
  	<%= render '/shared/header' %>
    <%= yield %>
    <%= render '/shared/footer' %>
  </body>
  </div>
  <script type="text/javascript">
    var vglnk = {key: '76ca2df55a3062ee24f47c4456dc8a75'};
    (function(d, t) {
        var s = d.createElement(t);
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//cdn.viglink.com/api/vglnk.js';
        var r = d.getElementsByTagName(t)[0];
            r.parentNode.insertBefore(s, r);
    }(document, 'script'));
</script>
</html>
