<!doctype html>
<html amp>
  <head>
    <meta charset="utf-8">
    <title>
      <%= if content_for?(:title) then yield(:title) end %>
    </title>
    <meta name='description'
      content='<%= yield_meta_tag(:description, 'Save on online shopping with free promo codes and coupon codes from GoPromoCodes.com') %>' />
    <meta name='keywords'
      content='<%= yield_meta_tag(:keywords, 'promo codes, coupon codes, promotional codes, discounts, savings') %>' />
    <meta name="google-site-verification" content="_VuY9z2UqX9FKO48EXymM8Q8PvedNXW5LoiUxKQeVd8" />
    <link rel="canonical" href="<%= rails_amp_canonical_url %>" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <!-- Write custom css sytle for amp html here. -->
    <style amp-custom>
/* BASIC ELEMENTS */
      h1,h2,h3,h4,h5,h6 {
        font:20px 'MyriadProRegular'; 
        padding-top:10px;
      }
      .breadcrumbs, .breadcrumbs li {
        display: inline;
      }

      div.red-banner {
        background-color: #d9172c;
        padding:0px 0 10px 22px; 
        font:bold 20px 'MyriadProRegular'; 
        color:#fff; 
        vertical-align:top; 
        text-shadow: 0 1px 0 #666;
        border-radius: 0.3em;
      }

      div.blue-banner {
        background-color: #25475a;
        padding:0px 0 10px 22px; 
        font:bold 20px 'MyriadProRegular'; 
        color:#fff; 
        vertical-align:top; 
        text-shadow: 0 1px 0 #666;
        border-radius: 0.3em;
      }

      h2.sidebar-header {
        color: #d9172c;
        padding-bottom: 5px;
      }

      div.coupon-list {
        border: -10px solid #ededed;
      }


      .single-coupon {
        border: 10px solid #ECECEC;
        border-bottom: 4px solid #ECECEC;
        -webkit-border-radius-bottom: 10px;
        -moz-border-radius:10px;
        border-radius: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
      }

      .single-coupon p {
        margin-bottom: 10px;
      }

      p.coupon-title span.coupon-store-name {
        color: black;
        font-size: 1.1em;
        font-weight: bold;
      }

      .coupon-title {
        color: #d9172c;
        font: normal 17px "Trebuchet MS", Arial, Helvetica, sans-serif;
      }

      .coupon-title a:hover {
        text-decoration: underline;
      }

      .coupon-expiration {
        float: right;
        position: relative;
        padding: 0px;
        font: normal 11px "MyriadProRegular", Arial, Helvetica, sans-serif;
      }

      .coupon-expiration span {
        font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
      }

      div.single-coupon p.see-more-codes {
        float: right;
      }

      div.side-bar-element {
        border: 10px solid #ECECEC;
        background-color: #ECECEC;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 20px;
      }

      div.side-bar-element p {
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 10px 15px;
      }

      div.side-bar-element ul li {
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }

      div.side-bar-element li {
        border-bottom: 1px solid #ECECEC;
        margin-bottom: 1px;
      }

      div.side-bar-element li a{
        text-decoration: none;
        font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #0B3C57;
        padding: 10px 150px 10px 15px;
      }

      div.side-bar-element li a:before {
        content: '< ';
      }

      div.side-bar-element li a:hover{
        color: white;
      }

      div.side-bar-element ul li:hover {
        background-color: #1a3748;
        color: white;
      }

      div.email-signup {
        padding: 15px;
        background: blue; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(-90deg, #25475a, #34637f, #25475a); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(-90deg, #25475a, #34637f, #25475a); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-90deg, #25475a, #34637f, #25475a); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-90deg, #25475a, #34637f, #25475a); /* Standard syntax */
        border-radius: 0.3em;
      }

      div.email-signup {
        margin-bottom: 20px;
      }
      div.email-signup h3 {
        color: #fff;
        font:20px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; padding:10px 0; text-shadow:0 -1px 0 #000;
        text-align: center;
      }

      div.email-signup p {
        font:14px 'MyriadProRegular'; color:#fff;
      }

      div.email-signup form#email-signup {
        margin-bottom: 10px;
      }

      .mailbox-image {
        float: left;
      }

      .side-bar-element table{
        background-color: white;
        padding: 10px;
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }

      .side-bar-element td {
        padding: 10px;
        margin: 0 auto;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #ECECEC;
      }

      .side-bar-element td {
        font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
      }

      .side-bar-element a{
        color: #0B3C57;
      }

      .side-bar-element a:hover {
        color: #ff0000;
        text-decoration: underline;
      }


      /*  HEADER */
      header {
        margin-bottom: 20px;
      }

      #logo {
        margin: 20px; 
      }

      #search-bar {
        margin: 20px;
      }

      form#search-bar, #header-login {
        float: right;
      }

      form#search-bar input[type=text] {
        min-width: 300px;
      }

      div#blue-banner {
        background: blue; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(-90deg, #25475a, #34637f, #25475a); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(-90deg, #25475a, #34637f, #25475a); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-90deg, #25475a, #34637f, #25475a); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-90deg, #25475a, #34637f, #25475a); /* Standard syntax */
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;
      }

      div#blue-banner h3 {
        color: #fff;
        font:32px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; padding:10px 0; text-shadow:0 -1px 0 #000;
        text-align: center;
      }
      div#blue-banner h3 span.highlight {
        color: #abe1fa;
      }

      #top-menu {
        background-color: #25475a;
        min-height: 35px;

      }

      #top-menu div.menu-item {
        margin: 5px;
        text-align: center;
      }

      #top-menu div.menu-item:hover {
        background-color: #1a3748;
      }

      #top-menu div a {
        font:15px 'MyriadProRegular'; 
        color:#fff; 
        text-decoration:none;
      }

      /*  HOMEPAGE  */

      div.main-content {

      }

      /* STORE PAGE */
      div.store-info {
        border: 10px solid #ECECEC;
        -webkit-border-radius-bottom: 10px;
        -moz-border-radius:10px;
        border-radius: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }
      div.store-info h1{
        color: #25475A;
        font-weight: bold;
        padding: 10px;
      }
      div.store-info h2{
        color: #25475A;
        padding: 10px;
        font-size: 15px;
      }

      div.store-info p {
        font-size: 13px;
      }


      div.side-bar-element h2 {
        color: #25475A;
        padding: 10px;

      }

      p.store-description {
        padding: 0 10px;
      }

      /*  FOOTER  */
      footer {
        margin-top: 20px;
      }
      div.bottom-footer {
        background-color: #25475a;
        border-top: 1px solid #1a3748;
        color: #d8d7d7;
        padding: 20px;
      }

      div.bottom-footer li a {
        font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #d8d7d7;
      }

      div ul.social_icons {
        list-style-type: none;
      }

      div ul.social_icons li {
        float: left;
      }

      div.very-bottom-footer {
        padding: 5px;
        background-color: #25475a;
        border-top: 1px solid #1a3748;
        color: #d8d7d7;
      }







      html {
        font-family: sans-serif; /* 1 */
        -ms-text-size-adjust: 100%; /* 2 */
        -webkit-text-size-adjust: 100%; /* 2 */
      }

      body {
        margin: 0;
      }

      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      main,
      menu,
      nav,
      section,
      summary {
        display: block;
      }
      audio,
      canvas,
      progress,
      video {
        display: inline-block; /* 1 */
        vertical-align: baseline; /* 2 */
      }

      audio:not([controls]) {
        display: none;
        height: 0;
      }

      [hidden],
      template {
        display: none;
      }

      a {
        background-color: transparent;
      }

      a:active,
      a:hover {
        outline: 0;
      }

      abbr[title] {
        border-bottom: 1px dotted;
      }

      b,
      strong {
        font-weight: bold;
      }

      dfn {
        font-style: italic;
      }

      h1 {
        font-size: 2em;
        margin: 0.67em 0;
      }

      mark {
        background: #ff0;
        color: #000;
      }

      small {
        font-size: 80%;
      }

      sub,
      sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
      }

      sup {
        top: -0.5em;
      }

      sub {
        bottom: -0.25em;
      }

      img {
        border: 0;
      }


      svg:not(:root) {
        overflow: hidden;
      }

      figure {
        margin: 1em 40px;
      }

      hr {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 0;
      }

      pre {
        overflow: auto;
      }
      code,
      kbd,
      pre,
      samp {
        font-family: monospace, monospace;
        font-size: 1em;
      }

      button,
      input,
      optgroup,
      select,
      textarea {
        color: inherit; /* 1 */
        font: inherit; /* 2 */
        margin: 0; /* 3 */
      }

      button {
        overflow: visible;
      }

      button,
      select {
        text-transform: none;
      }

      button,
      html input[type="button"], /* 1 */
      input[type="reset"],
      input[type="submit"] {
        -webkit-appearance: button; /* 2 */
        cursor: pointer; /* 3 */
      }


      button[disabled],
      html input[disabled] {
        cursor: default;
      }


      button::-moz-focus-inner,
      input::-moz-focus-inner {
        border: 0;
        padding: 0;
      }

      input {
        line-height: normal;
      }

      input[type="checkbox"],
      input[type="radio"] {
        box-sizing: border-box; /* 1 */
        padding: 0; /* 2 */
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        height: auto;
      }

      input[type="search"] {
        -webkit-appearance: textfield; /* 1 */
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box; /* 2 */
        box-sizing: content-box;
      }

      input[type="search"]::-webkit-search-cancel-button,
      input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
      }


      fieldset {
        border: 1px solid #c0c0c0;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em;
      }

      legend {
        border: 0; /* 1 */
        padding: 0; /* 2 */
      }

      textarea {
        overflow: auto;
      }
      optgroup {
        font-weight: bold;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }

      td,
      th {
        padding: 0;
      }
    </style>
    <%= rails_amp_google_analytics_head %>
    <%= rails_amp_html_header %>
  </head>
  <body>
    <%= rails_amp_google_analytics_page_tracking %>
    <%= yield %>
  </body>
</html>
